<main>
    <h1 id="ghost"></h1>
    <table>
        <thead>
            <td>Moneda</td>
            <td>Compra</td>
            <td>Venta</td>
            <td>Conversión</td>
        </thead>
        <tbody>
            <!-- No se debe usar <tr> aquí; las filas se generan dentro del bucle -->
            @for (moneda of dataMenuService.monedas; track $index) {
                <tr>
                    <td>
                        {{ moneda }}
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        200
                    </td>
                    <td class="trade">
                        <button class="modif" [routerLink]="['/trading']">Convertir</button>
                    </td>
                </tr>
            }
            @empty {
                <tr>
                    <td class="vacio">
                        ¡Haz una conversión!
                    </td>
                </tr>
            }
        </tbody>
        <button class="botonaccmas"><a [routerLink]="['/conversion']" routerLinkActive="router-link-active">Convertir</a></button>
    </table>
</main>
