<main>
  <h1>Conversión de Criptomonedas</h1>

  <div class="container">

    <form (ngSubmit)="performConversion($event)" id="trading-form">
      
      <label for="from-currency">Moneda origen:</label>
      <select id="from-currency" name="from-currency"0
       [(ngModel)]="conversionRequest.fromCurrency" required >
        
        <option value="" disabled>Seleccioná una moneda</option>
        @for (m of monedas; track m.codigo) {
          <option [value]="m.codigo">
            {{ m.simbolo }} - {{ m.leyenda }} ({{ m.codigo }})
          </option>
        }
      </select>

      <label for="to-currency">Moneda destino:</label>
      <select id="to-currency" name="to-currency" 
      [(ngModel)]="conversionRequest.toCurrency" required >
        
        <option value="" disabled>Seleccioná una moneda</option>
        @for (m of monedas; track m.codigo) {
          @if (conversionRequest.fromCurrency === m.codigo) {
            <option [value]="m.codigo" disabled>{{ m.simbolo }} - {{ m.leyenda }} {{ m.codigo }}</option>
          }
          @else {
            <option [value]="m.codigo">
            {{ m.simbolo }} - {{ m.leyenda }} ({{ m.codigo }})
          </option>
          }
          
        }
      </select>

      <!-- Cantidad -->
      <label for="amount">Cantidad:</label>
      <input
        id="amount"
        name="amount"
        type="number"
        [(ngModel)]="conversionRequest.amount"
        required
        #amountCtrl="ngModel"
        step="any" /><!-- decimales -->

      <button
        type="submit"
        [disabled]="
          !conversionRequest.fromCurrency ||
          !conversionRequest.toCurrency ||
          conversionRequest.fromCurrency === conversionRequest.toCurrency ||
          !conversionRequest.amount ||
          conversionRequest.amount <= 0
        "
      >
        Convertir
      </button>

      @if (
        conversionRequest.fromCurrency &&
        conversionRequest.toCurrency &&
        conversionRequest.fromCurrency === conversionRequest.toCurrency
      ) {
        <div class="field-error">
          Elegí dos monedas distintas.
        </div>
      }

      @if (amountCtrl.touched && conversionRequest.amount <= 0) {
        <div class="field-error">
          La cantidad debe ser mayor que 0.
        </div>
      }
    </form>

    <!-- Resultado -->
    @if (conversionResult) {
      <div class="result">
        <h2>Resultado de la Conversión</h2>

        <div class="data">
          <p><strong>De:</strong> {{ conversionResult.fromCurrency }}</p>
          <p><strong>A:</strong> {{ conversionResult.toCurrency }}</p>
        </div>

        <div class="data">
          <p>
            <strong>Cantidad Original:</strong>
            {{ conversionResult.fromCurrencySymbol }}
            {{ conversionResult.amount }}
          </p>
          <p>
            <strong>Resultado:</strong>
            {{ conversionResult.toCurrencySymbol }}
            {{ conversionResult.result }}
          </p>
        </div>

        <div class="data">
          <p>
            <strong>Fecha:</strong>
            {{ conversionResult.date | date: 'dd/MM/yyyy' }}
          </p>
        </div>
      </div>
    }

    @if (errorMessage) {
      <div class="alert">
        <div class="alert-text">{{ errorMessage }}</div>
        <a routerLink="/suscripciones" routerLinkActive="router-link-active" class="alert-action"
        >
          Ver planes
        </a>
      </div>
    }
  </div>
</main>