<main>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <h1>CryptoXchange</h1>
        <h3>¡Bienvenido!</h3>

        <input type="text" id="usuario" placeholder="Usuario" name="UserName" ngModel required>
        <input type="password" id="contraseña" placeholder="Contraseña" name="Password" ngModel required>

        <button [disabled]="loginForm.invalid" type="submit">
            Iniciar sesión
        </button>

        <h4>¿No tenés una cuenta? <a routerLink="/register">Registráte</a></h4>

        @if(errorLogin){
            <p>Error en login</p>
        }
    </form>
</main>

